<div class="ms-5 mt-3">
  <h1>Stupid Coaching</h1>

  <p>Ask your coach anything</p>

  <form action="/answer" data-turbo="false" class="d-flex">
    <div class="mb-3">
      <input type="text" name="question" class="form-control me-5" placeholder="Escribe tu pregunta aquí">
    </div>
    <input type="submit" value="Ask!" class="btn btn-primary h-100">
  </form>
</div>
